.container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.texts{
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.title{
    font-weight: bold;
    font-size: 15px;
    color: gray;
}
.username{
    font-weight: 300;
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}