.container{
    display: flex;
    height: 80px;
    color: gray;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 12px;
    font-weight: bold;
}
.text{
    font-size: 10px;
}

@media (max-width:768px){
    .container{
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: space-around;
    }
}